{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "semantic-release-cargo",
      {
        "publishArgs": [
          "--registry",
          "gitea"
        ]
      }
    ],
    "semantic-release-cargo",
    [
      "@saithodev/semantic-release-gitea",
      {
        "assets": [
          {
            "path": "./dist/backuppc_pool_reader-x86_64-unknown-linux-gnu",
            "label": "backuppc_pool_reader-x86_64-unknown-linux-gnu"
          },
          {
            "path": "./dist/backuppc_pool_reader-x86_64-unknown-linux-gnu-SHA256SUM.txt",
            "label": "backuppc_pool_reader-x86_64-unknown-linux-gnu-SHA256SUM.txt"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json",
          "Cargo.toml",
          "Cargo.lock"
        ]
      }
    ]
  ]
}