{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release-cargo/semantic-release-cargo",
      {
        "registry": "gitea"
      }
    ],
    [
      "@saithodev/semantic-release-gitea",
      {
        "assets": [
          {
            "path": "./target/release/backuppc_pool",
            "label": "backuppc_pool"
          }
        ]
      }
    ]
  ]
}